.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
.idea
.idea
*.idea/
*.atx
*.freelist
*.gdb
*.jpg
*.spx
*.xml
*.zip
*.dbf
*.shp
*.cpg
*.prj
*.shx
*.png
read_flowlines.py
upstream_count.py

__pycache__/

*.pyc

.vscode/
